:root {
    --font-white: #FFF;
    --bg-black: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* UTILITIES */

.font-bold {
    font-weight: bold;
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.65);
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 3rem;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.responsive {
    width: 100%;
    max-width: 200px;
    height: auto;
}

/* PADDING */

.pb-10 {
    padding-bottom: 1rem;
}

.pb-12 {
    padding-bottom: 1.2rem;
}

.pb-15 {
    padding-bottom: 1.5rem;
}

.my-10 {
    padding: 1rem 0;
}

.my-15 {
    padding: 1.5rem 0;
}

.bold {
    font-weight: bold;
}

.font-10 {
    font-size: 1rem;
}

.font-12 {
    font-size: 1.2rem;
}

.font-15 {
    font-size: 1.5rem;
}

.font-18 {
    font-size: 1.8rem;
}

.font-20 {
    font-size: 2rem;
}

.font-22 {
    font-size: 2.2rem;
}

.font-25 {
    font-size: 2.5rem;
}

/* SIDEBAR */

.sidebar {
    /*height: 100%;*/
    width: 25rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 1.8rem;
    box-shadow: 3px 2px 18px 5px rgba(0,0,0,0.65);
    -webkit-box-shadow: 3px 2px 18px 5px rgba(0,0,0,0.65);
    -moz-box-shadow: 3px 2px 18px 5px rgba(0,0,0,0.65);
}

.sidebar-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    height: 25vh;
}

.sidebar-navbar {
    margin-top: 2.5rem;
    height: 50vh;
}

.sidebar-navbar-elements a {
    display: block;
    padding: 1rem 0 1.2rem 3rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.16);
    transition: all 150ms ease 50ms;
}

.sidebar-navbar-elements a:hover {
    background-color: rgba(77, 113, 243, 0.232);
    color: rgba(40, 77, 209, 0.916);
}

.sidebar-footer {
    margin-top: 5rem;
    height: 25vh;
}

.sidebar-footer-nav, .navbar-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.sidebar-footer-nav a, .navbar-icons a {
    transition: all 100ms ease-in-out 50ms;
}

.sidebar-footer-nav a:hover, .navbar-icons a:hover {
    color: rgba(40, 77, 209, 0.916);
}

/* HEADER */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

.navbar-title {
    text-align: center;
}

.navbar-title-name {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0.3rem 0;
}

.navbar-title-description {
    font-size: 1.2rem;
    
}

.profile-picture {
    width: 6rem;
    height: 6rem;
    border-radius: 25%;
}

.header {
    position: relative;
    margin-left: 25rem;
}

/* HERO */

.hero {
    background-image: linear-gradient(180deg, rgba(40, 76, 209, 0.85), rgba(92, 118, 212, 0.5)), url('./img/working.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 8rem;
    width: 100%;
    text-align: center;
    color: var(--font-white);
}

.hero-title {
    font-size: 2rem;
    margin: 0 0 1rem;
}

.hero-text {
    font-size: 1.6rem;
    margin-bottom: 3.5rem;
    font-weight: bold;
}

.hero-description {
    font-size: 5rem;
    margin-bottom: 2rem;
    letter-spacing: 0.25rem;
}

/* BUTTON */

.buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.button {
    padding: 1.2rem;
    font-weight: bold;
    border-radius: 3rem;
    border: none;
    width: 10rem;
    font-size: 1.6rem;
    transition: all 100ms ease-in 50ms;
    cursor: pointer;
}

.button-white {
    background-color: #fff;
}

.button-white:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: #FFF;
    box-shadow: 15px 12px 27px 2px rgba(0,0,0,0.65);
-webkit-box-shadow: 15px 12px 27px 2px rgba(0,0,0,0.65);
-moz-box-shadow: 15px 12px 27px 2px rgba(0,0,0,0.65);
}

.button-blue {
    background-color: rgba(62, 68, 234, 0.78);
    color: var(--font-white);
}

.button-blue:hover {
    background-color: #FFF;
    color: rgba(62, 68, 234, 0.78);
    box-shadow: 15px 12px 27px 2px rgba(0,0,0,0.65);
-webkit-box-shadow: 15px 12px 27px 2px rgba(0,0,0,0.65);
-moz-box-shadow: 15px 12px 27px 2px rgba(0,0,0,0.65);
}

/* MENU ICONS */

.icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.45rem;
}

.menu-icon {
    height: 0.8rem;
    width: 0.8rem;
    background-color: black;
    transition: all 100ms ease-in 50ms;
}

.icons:hover .menu-icon {
    border-radius: 50%;
}

/* CURVE */

.custom-shape-divider-bottom-1678340157 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1678340157 svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 124px;
}

.custom-shape-divider-bottom-1678340157 .shape-fill {
    fill: #FFFFFF;
}

/* ABOUT ME */

.about-me {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    position: relative;
    padding-bottom: 5rem;
    margin-left: 25rem;
    gap: 1rem;
}

.about-me-picture {
    opacity: 0.8;
    border-radius: 10px;
}

.about-me-title {
    font-size: 3.6rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.about-me-description {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.about-me-lorem {
    font-size: 1.5rem;
    line-height: 2rem;
}

.about-me-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-top: 2rem;
}

.about-me-data-info {
    font-size: 1.5rem;
}

@media only screen and (min-width: 655px) {
    .navbar {
        display: none;
    }
}

@media only screen and (max-width: 650px) {

    .sidebar {
        display: none;
    }

    .menu-icon {
        width: 0.5rem;
        height: 0.5rem;
    }

    .about-me {
        grid-template-columns: 30% 70%;
        font-size: 8vw;
        overflow: hidden;
    }

    .about-me-title {
        text-align: center;
    }

    .about-me-description {
        text-align: center;
    }

    .about-me-lorem {
        text-align: justify;
        word-break: break-all;
    }

    .about-me-data {
        display: flex;
        flex: wrap;
        flex-direction: column;
        gap: 0.5rem;
    }

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #FFF;
        box-shadow: -3px 8px 22px 13px rgba(36,36,37,0.78);
        -webkit-box-shadow: -3px 8px 22px 13px rgba(36,36,37,0.78);
        -moz-box-shadow: -3px 8px 22px 13px rgba(36,36,37,0.78);
        z-index: 1;
    }

    .hero {
        margin-top: 6.1rem;
    }

    .header {
        margin-left: 0;
    }

    .about-me {
        margin-left: 0;
    }

    .about-me-title {
        font-size: 2.4rem;
    }
    
    .about-me-description {
        font-size: 1.5rem;
    }
    
    .about-me-lorem {
        font-size: 1.2rem;
    }

    .about-me-data-info {
        font-size: 1.2rem;
    }

}