:root {
    --font-white: #FFF;
    --font-black: #0000;
    --bg-black: black;
    --sidebar-width: 25rem;
    --light-blue: rgba(62, 68, 234, 0.78);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    /*transition: all 250ms ease-in-out 100ms;*/
    margin-left: var(--sidebar-width);
}

.reveal {
    position: relative;
    transform: translateY(120px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* UTILITIES */

.font-bold {
    font-weight: bold;
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.65);
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 3rem;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.responsive {
    width: 100%;
    max-width: 280px;
    height: auto;
}

.wrapper {
    margin: 0 2rem;
}

.card {
    font-size: 1.5rem;
    min-height: 15rem;
    background-color: #FFF;
    text-align: center;
    box-shadow: -8px 9px 14px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -8px 9px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 9px 14px 0px rgba(0,0,0,0.75);
    transition: all 150ms ease-in-out 100ms;
}

.card:hover {
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    margin-left: 1rem;
}

/* PADDING */

.pb-10 {
    padding-bottom: 1rem;
}

.pb-12 {
    padding-bottom: 1.2rem;
}

.pb-15 {
    padding-bottom: 1.5rem;
}

.my-10 {
    padding: 1rem 0;
}

.my-15 {
    padding: 1.5rem 0;
}

.bold {
    font-weight: bold;
}

.font-10 {
    font-size: 1rem;
}

.font-12 {
    font-size: 1.2rem;
}

.font-15 {
    font-size: 1.5rem;
}

.font-18 {
    font-size: 1.8rem;
}

.font-20 {
    font-size: 2rem;
}

.font-22 {
    font-size: 2.2rem;
}

.font-25 {
    font-size: 2.5rem;
}

.font-blue {
    color: var(--light-blue);
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    width: var(--sidebar-width);
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    box-shadow: 3px 2px 18px 5px rgba(0,0,0,0.65);
    -webkit-box-shadow: 3px 2px 18px 5px rgba(0,0,0,0.65);
    -moz-box-shadow: 3px 2px 18px 5px rgba(0,0,0,0.65);
    height: 100%;
    /*transition: all 250ms ease-in-out 100ms;*/
}

.display-none {
    display: none;
}

.sidebar-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem 1rem;
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    color: white;
}

.sidebar-title-button {
    background-color: #FFF;
    font-size: 1.5rem;
    border: 0.2rem solid black;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 0.5rem;
}

.sidebar-title-button:hover {
    scale: 110%;
}

.sidebar-navbar {
    margin-top: 2.5rem;
}

.sidebar-navbar-elements a {
    display: block;
    padding: 1rem 0 1.2rem 3rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.16);
    transition: all 150ms ease 50ms;
}

.sidebar-navbar-elements a:hover {
    background-color: rgba(77, 113, 243, 0.232);
    color: rgba(40, 77, 209, 0.916);
    margin-left: 2.5rem;
    border-bottom: 0.25rem solid rgba(0, 0, 0, 0.16);
}

.sidebar-footer {
    margin-top: 5rem;
}

.sidebar-footer-nav, .navbar-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.sidebar-footer-nav a, .navbar-icons a {
    transition: all 150ms ease 50ms;
}

.sidebar-footer-nav a:hover, .navbar-icons a:hover {
    color: rgba(40, 77, 209, 0.916);
    border-bottom: 0.25rem solid rgba(40, 77, 209, 0.916);
}

/* HEADER */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

.navbar-title {
    text-align: left;
}

.navbar-title-name {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0.3rem 0;
}

.navbar-title-description {
    font-size: 1.2rem;
}

.profile-picture {
    width: 10rem;
    height: 10rem;
    border-radius: 65% 34% 23% 77% / 16% 41% 58% 84%;
    border: 2px solid rgba(62, 68, 234, 0.78);
    box-shadow: 18px -15px 32px -2px rgba(0,0,0,0.65);
    -webkit-box-shadow: 18px -15px 32px -2px rgba(0,0,0,0.65);
    -moz-box-shadow: 18px -15px 32px -2px rgba(0,0,0,0.65);
    transition: all 200ms ease-in 150ms;
}

.profile-picture:hover {
    border-radius: 86% 14% 86% 14% / 25% 23% 77% 75%;
    box-shadow: -24px 15px 32px -2px rgba(0,0,0,0.65);
    -webkit-box-shadow: -24px 15px 32px -2px rgba(0,0,0,0.65);
    -moz-box-shadow: -24px 15px 32px -2px rgba(0,0,0,0.65);
}

.header {
    position: relative;
}

/* HERO */

.hero {
    /*
    background-image: linear-gradient(180deg, rgba(40, 76, 209, 0.80), rgba(92, 118, 212, 0.32)), url('./img/working.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    */

    background-image: linear-gradient(to right, #8e2de2, #4a00e0);

    height: 90vh;
    padding-top: 8rem;
    width: 100%;
    text-align: center;
    color: var(--font-white);
}

.hero-title {
    font-size: 2.5rem;
    margin: 0 0 1rem;
}

.hero-text {
    font-size: 2rem;
    margin-bottom: 3.5rem;
    font-weight: bold;
}

.hero-description {
    font-size: 4rem;
    margin-bottom: 2rem;
    letter-spacing: 0.25rem;
    display: flex;
    justify-content: center;
}

/* TYPING ELEMENT */

.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#feature-text, #feature-text-sidebar {
    margin-left: 8px;
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 42px;
    background-color: white;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

.input-cursor-black {
    height: 20px;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

/* BUTTON */

.buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.button {
    padding: 1.2rem;
    font-weight: bold;
    border-radius: 3rem;
    border: none;
    width: 25%;
    
    transition: all 100ms ease-in 50ms;
    cursor: pointer;
}

.button-white {
    background-color: black;
    border: 0.1rem solid black;
    font-size: 2rem;
    color: var(--font-white);
}

.button-white:hover {
    background-color: #fff;
    color: black;
    box-shadow: 15px 12px 27px 2px rgba(0,0,0,0.65);
    -webkit-box-shadow: 15px 12px 27px 2px rgba(0,0,0,0.65);
    -moz-box-shadow: 15px 12px 27px 2px rgba(0,0,0,0.65);
    scale: 110%;
    text-transform: uppercase;
}

.button-blue {
    background-color: #46D629;
    color: var(--font-white);
    border: 0.1rem solid black;
    font-size: 2rem;
}

.button-blue:hover {
    background-color: #FFF;
    color: #46D629;
    box-shadow: 15px 12px 27px 2px rgba(0,0,0,0.65);
    -webkit-box-shadow: 15px 12px 27px 2px rgba(0,0,0,0.65);
    -moz-box-shadow: 15px 12px 27px 2px rgba(0,0,0,0.65);
    scale: 110%;
    text-transform: uppercase;
}

/* MENU ICONS */

.icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.45rem;
    cursor: pointer;
}

.menu-icon {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.5rem;
    background-color: black;
    transition: all 100ms ease-in 50ms;
}

.icons:hover .menu-icon {
    border-radius: 50%;
}

/* CURVE */

.custom-shape-divider-bottom-1678340157 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1678340157 svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 124px;
}

.custom-shape-divider-bottom-1678340157 .shape-fill {
    fill: #FFFFFF;
}

/* ABOUT ME */

.about-me {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    position: relative;
    padding-bottom: 15rem;
    gap: 1.5rem;
}

.custom-shape-divider-bottom-1678516310 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1678516310 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 172px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1678516310 .shape-fill {
    fill: #3E44EAC7;
}

.about-me-info {
    padding: 1rem 0.5rem;
    margin-right: 20px;
}

.about-me-title {
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 0.6rem;
}

.about-me-description {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
}

.about-me-lorem {
    font-size: 1.5rem;
    line-height: 2rem;
    border-bottom: 0.1rem solid rgba(52, 51, 51, 0.327);
    padding-bottom: 2rem;
}

.about-me-data {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 2rem;
    padding-top: 2rem;
}

.about-me-data-info {
    font-size: 1.5rem;
}

.about-me-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.about-me-buttons > button {
    font-size: 1.2rem;
    transition: all 200ms ease-in-out 100ms;
}

.curved-button-1 {
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    color: #FFF;
    border-radius: 71% 29% 77% 23% / 20% 74% 26% 80%;
    box-shadow: -9px 3px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -9px 3px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 3px 20px 0px rgba(0,0,0,0.75);
    border: 0.2rem solid black;
    width: 25%;
}

.curved-button-1:hover {
    border-radius: 21% 79% 22% 78% / 74% 16% 84% 26%;
    scale: 110%;
}

.curved-button-2 {
    border-radius: 21% 79% 22% 78% / 74% 16% 84% 26%;
    box-shadow: -9px 3px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -9px 3px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 3px 20px 0px rgba(0,0,0,0.75);
    border: 0.2rem solid black;
    width: 25%;
}

.curved-button-2:hover {
    border-radius: 71% 29% 77% 23% / 20% 74% 26% 80%;
    scale: 110%;
}

/* BLOB */

.blob-element {
    border-radius: 65% 34% 23% 77% / 16% 41% 58% 84%;
    border: 5px solid rgba(62, 68, 234, 0.78);
    transition: all 250ms ease-in-out 50ms;
    box-shadow: -23px 20px 32px -2px rgba(0,0,0,0.65);
    -webkit-box-shadow: -23px 20px 32px -2px rgba(0,0,0,0.65);
    -moz-box-shadow: -23px 20px 32px -2px rgba(0,0,0,0.65);
}

.blob-element:hover {
    border-radius:  11% 89% 33% 67% / 37% 33% 67% 63% ;
    box-shadow: 6px -7px 32px -10px rgba(0,0,0,0.65);
    -webkit-box-shadow: 6px -7px 32px -10px rgba(0,0,0,0.65);
    -moz-box-shadow: 6px -7px 32px -10px rgba(0,0,0,0.65);
}

/* EXPERIENCE */

.experience {
    background-color: rgb(246,247,253);
}

.wrapper-experience {
    height: 70vh;
    margin: 0 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.experience-info {
    text-align: left;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.experience-info h3 {
    font-weight: 300;
}

.experience-roles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 5rem;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.experience-text {
    text-transform: capitalize;
}

.work-1 {
    grid-column: 1 / 3;
}

.experience-roles-work {
    font-size: 1.5rem;
    height: auto;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF;
    text-align: center;
    gap: 1.5rem;
    box-shadow: -8px 9px 14px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -8px 9px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 9px 14px 0px rgba(0,0,0,0.75);
    transition: all 150ms ease-in-out 100ms;
}

.experience-roles-work:hover {
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    margin-left: 1rem;
}

/* SERVICES */

.services {
    height: 80vh;
    margin-top: 5rem;
}

.services-text {
    padding-top: 2rem;
    text-align: center;
}

.services-cards {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.card-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

@media only screen and (max-width: 850px) {

    body {
        margin-left: 0;
    }

    .sidebar {
        display: none;
    }

    .icons {
        display: none;
    }
    .menu-icon {
        width: 0.5rem;
        height: 0.5rem;
    }

    .button {
        width: 40%;
    }

    .about-me {
        grid-template-columns: 40% 60%;
        font-size: 8vw;
        overflow: hidden;
    }

    .about-me-title {
        text-align: center;
    }

    .about-me-description {
        text-align: center;
    }

    .about-me-lorem {
        text-align: justify;
        word-break: break-all;
    }

    .about-me-data {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
        
        gap: 0.5rem;
    }

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #FFF;
        box-shadow: -3px 8px 22px 13px rgba(36,36,37,0.78);
        -webkit-box-shadow: -3px 8px 22px 13px rgba(36,36,37,0.78);
        -moz-box-shadow: -3px 8px 22px 13px rgba(36,36,37,0.78);
        z-index: 1;
    }

    .navbar-icons {
        font-size: 1.2rem;
    }

    .navbar-title {
        text-align: left;
    }

    .hero {
        margin-top: 6.1rem;
    }

    .hero-title {
        font-size: 1.5rem;
    }
    
    .hero-text {
        font-size: 1.2rem;
    }
    
    .hero-description {
        font-size: 2.1rem;
    }

    .button {
        font-size: 1.5rem;
    }

    .header {
        margin-left: 0;
    }

    .about-me {
        grid-template-columns: 1fr;
    }

    .about-me-info {
        margin: 1rem 2rem;
    }

    .about-me-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 0.2rem;
        width: auto;
    }

    .about-me-data {
        margin-bottom: 5rem;
    }

    .about-me-title {
        font-size: 2.4rem;
        text-align: left;
    }
    
    .about-me-description {
        font-size: 1.5rem;
        text-align: left;
    }
    
    .about-me-lorem {
        font-size: 1.2rem;
    }

    .about-me-data-info {
        font-size: 1.2rem;
    }

    .about-me-buttons > button {
        font-size: 1.5rem;
        width: 75%;
    }

    .curved-button-1 {
        width: 70%;
        font-size: 2rem;
    }

    .wrapper-experience {
        grid-template: repeat(2, 1fr)/ 1fr;
        gap: 0.5rem;
        padding-bottom: 63rem;
    }

    .experience-info {
        text-align: center;
        padding-top: 2rem;
        align-items: center;
    }

    .services {
        padding-bottom: 72rem;
    }

    .services-text {
        padding-top: 2rem;
    }

    .services-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-services > p {
        font-size: 1.2rem;
    }

}